@model LMS_Web.ViewModel.AdminViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/Dashboard/css/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/Dashboard/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Dashboard/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/Dashboard/css/ace.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/Dashboard/css/chosen.css" />
<link href="~/Content/Dashboard/css/chosen.css" rel="stylesheet" />
<style type="text/css">
    .chosen-single {
        height: 33px !important;
        text-align: center;
    }
</style>
@using (Html.BeginForm("Index", "AddClient", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    if (ViewBag.alert == "Success")
    {
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Data Saved successfully.
        </div>
    }

    if (ViewBag.alert == "Error")
    {
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong>  while submitting your data.
        </div>
    }

    <div class="col-sm-12">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title lighter">
                    <i class="ace-icon fa fa-signal"></i>
                    Client General Details
                </h4>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                        <img src="~/Content/Dashboard/images/avatars/default-avatar.png" width="260" height="250" style="border: 1px solid #438EB9;padding: 19px;" id="profile"/>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                        <input type="file" id="id-input-file-2"  name="files" />
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <div class="row">
                    <div class="form-control">
                        <div class="col-md-4">
                            @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                            @*@Html.TextBox("Client Name", null, new { @id = "txt_clientName", @class = "col-md-4", placeholder = "Client Name", style = "width:100%" })*@
                            @Html.TextBoxFor(m => m.ClientName, null, new { @id = "txt_clientName", @class = "col-md-4", placeholder = "Enter Client Name", style = "width:100%" })
                        </div>
                        <div class="col-md-4">
                            @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                            @*@Html.TextBox("EmailId", null, new { @id = "txt_EmailId", @class = "col-md-4", placeholder = "EmailId", style = "width:100%" })*@
                            @Html.TextBoxFor(m => m.EmailId, null, new { @id = "txt_EmailId", @class = "col-md-4", placeholder = "Enter EmailId", style = "width:100%", required = "required" })
                        </div>
                        <div class="col-md-4">
                            @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-phone"></i>
                                </span>
                                @* @Html.TextBox("Mobile No.", null, new { @id = "form-field-mask-2", @class = "form-control input-mask-phone", placeholder = "MobileNO.", style = "width:100%" })*@
                                @Html.TextBoxFor(m => m.MobileNo, null, new { @id = "txt_MobileNo", @class = "form-control input-mask-phone", placeholder = "Enter Mobile No.", style = "width:100%",required = "required" })
                                @*@Html.ValidationMessageFor(model=>model.MobileNo, "Please enter Mobile No.", new { @class = "text-danger" })*@
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row" style="margin-top:3% !important">
                    <div class="form-control">
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.countryId, new SelectList(ViewBag.CountryDd, "Value", "Text"), "- Please Select Country -", new { @class = "chosen-select form-control", @id = "countryddl" })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.stateId, Enumerable.Empty<SelectListItem>(), "- Please Select State -", new { @class = "chosen-select form-control", @id = "stateddl" })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.cityId, Enumerable.Empty<SelectListItem>(), "- Please Select City -", new { @class = "chosen-select form-control", @id = "cityddl" })
                    </div>
                        </div>
                </div>
                <div class="row" style="margin-top:3% !important">
                    <div class="form-control">
                        <div class="col-md-4">
                            @Html.TextAreaFor(m => m.Address, new { @id = "txt_clientAddress", @class = "autosize-transition form-control", placeholder = "Client Address", style = "width:100%;border:1px solid;height: 40px;" })
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("genderddl", new List<SelectListItem>
{
    new SelectListItem{ Text="Choose Client Gender", Value = "0" },
    new SelectListItem{ Text="Male", Value = "Male" },
    new SelectListItem{ Text="Female", Value = "Female" },
 }, new { @class = "chosen-select form-control", @id = "genderdddl",@name= "genderddl" })
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                @*<input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" />*@
                                @Html.TextBoxFor(m => m.dob, null, new { @id = "id-date-picker-1", @class = "form-control date-picker", placeholder = "Enter Client DOB", style = "width:100%" })
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                        </div>
                    </div>
                <div class="row" style="margin-top:3% !important">
                    <div class="form-control">
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.UserName, null, new { @id = "txt_UserName", @class = "col-md-4", placeholder = "Enter UserName", style = "width:100%", required = "required" })
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Password, null, new { @id = "txt_Password", @class = "col-md-4", placeholder = "Enter Password", style = "width:100%", required = "required" })
                        </div>
                        <div class="col-md-4">
                            @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                            @* @Html.TextArea("Client Address", null, new { @id = "txt_clientName", @class = "autosize-transition form-control", placeholder = "Client Address", style = "width:100%;border:1px solid" });*@
                            @Html.DropDownList("Statusddl", new List<SelectListItem>
{
    new SelectListItem{ Text="Choose Client Status", Value = "0" },
    new SelectListItem{ Text="Active", Value = "true" },
    new SelectListItem{ Text="Inactive", Value = "false" },
 }, new { @class = "chosen-select form-control", @id = "statudddl", @name = "Statusddl" })
                        </div>
                        </div>
                    </div>
                <div class="row" style="margin-top:3% !important">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <input type="submit" value="Submit" name="submit_login" class="btn btn-info" onclick='' />

                        &nbsp; &nbsp; &nbsp;
                        <input type="reset" value="Reset" name="reset_login" class="btn btn-info" onclick='' />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title lighter">
                    <i class="ace-icon fa fa-signal"></i>
                    Data
                </h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <table id="jqGrid_client"></table>
                <div id="jqControls_client"></div>
            </div><!-- /.widget-body -->
        </div>
    </div>
}

<script src="~/Content/Dashboard/js/jquery-1.9.1.min.js"></script>
<script src="~/Content/Dashboard/js/ace-extra.min.js"></script>
<script src="~/Content/Dashboard/js/grid.locale-en.js"></script>
<script src="~/Content/Dashboard/js/jquery.jqGrid.min.js"></script>
<script src="~/Content/Dashboard/js/jquery.maskedinput.min.js"></script>
<script src="~/Content/Dashboard/js/jquery.autosize.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true
        })
                    //show datepicker when clicking on the icon
                    .next().on(ace.click_event, function () {
                        $(this).prev().focus();
                    });
        $('#id-input-file-1 , #id-input-file-2').ace_file_input({
            no_file: 'No File ...',
            btn_choose: 'Choose',
            btn_change: 'Change',
            droppable: false,
            onchange: null,
            thumbnail: false //| true | large
            //whitelist:'gif|png|jpg|jpeg'
            //blacklist:'exe|php'
            //onchange:''
            //
        });
        //autosize($('#form-field-tags'));
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('a.remove').click(function () {
            $('#profile').attr('src', '../../Content/Dashboard/images/avatars/default-avatar.png');
        })
        $('.input-mask-phone').mask('(99) 99-9999-9999');
        if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
            .off('resize.chosen')
            .on('resize.chosen', function () {
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            });


            $('#chosen-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
        }
        $('textarea[class*=autosize]').autosize({ append: "\n" });
        $('#id-input-file-1 , #id-input-file-2').ace_file_input({
            no_file: 'No File ...',
            btn_choose: 'Choose',
            btn_change: 'Change',
            droppable: false,
            onchange: null,
            thumbnail: false //| true | large
            //whitelist:'gif|png|jpg|jpeg'
            //blacklist:'exe|php'
            //onchange:''
            //
        });

        $("#link").click(function () {

        })
        $("#jqGrid_client").jqGrid({
            url: 'GetClient',
            datatype: 'json',
            mtype: 'Get',
            colNames: ['AdminId', 'ClientName', 'MobileNo', 'EmailId', 'dob', 'CountryName', 'StateName', 'CityName', 'UserName', 'Password'],
            colModel: [
              
                { key: true, hidden: true, name: 'AdminId', index: 'AdminId', editable: true },
                { key: false, name: 'ClientName', index: 'ClientName', editable: true },
                { key: false, name: 'MobileNo', index: 'MobileNo', editable: true },
                { key: false, name: 'EmailId', index: 'EmailId', editable: true },
                { key: false, name: 'dob', index: 'dob', editable: false },
                { key: false, name: 'CountryName', index: 'CountryName', editable: false },
                { key: false, name: 'StateName', index: 'StateName', editable: false },
                { key: false, name: 'CityName', index: 'CityName', editable: false },
                { key: false, name: 'UserName', index: 'UserName', editable: true },
                { key: false, name: 'Password', index: 'Password', editable: true }
            ],
            pager: jQuery('#jqControls_client'),
            rowNum: 10,
            rowList: [10, 20, 30, 40, 50],
            height: '100%',
            viewrecords: true,
            caption: 'Client Records',
            emptyrecords: 'No Clients Records are Available to Display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            },
            autowidth: true,
            multiselect: false
        }).navGrid('#jqControls_client', { edit: true, add: false, del: true, search: true,searchText:"Search Text", refresh: true },
            {
                zIndex: 100,
                url: "EditClient",
                closeOnEscape: true,
                closeAfterEdit: true,
                recreateForm: true,
                afterComplete: function (response) {
                    if (response.responseText) {
                        alert(response.responseText);
                    }
                }
            }, {},
            {
                zIndex: 100,
                url: "DeleteClient",
                closeOnEscape: true,
                closeAfterDelete: true,
                recreateForm: true,
                msg: "Are you sure you want to delete Client ? ",
                afterComplete: function (response) {
                    if (response.responseText) {
                        alert(response.responseText);
                    }
                }
            },
            {
                zIndex: 100,
                caption: "Search Clients",
                sopt: ['cn']
            });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#countryddl").change(function () {
            var countryId = $("#countryddl").val();
            $.ajax
            ({
                url: '/AddClient/GetStateDdl',
                type: 'POST',
                datatype: 'application/json',
                rownumbers: true,
                beforeSend: function () { $("#stateddl").html(""); },
                contentType: 'application/json',
                data: JSON.stringify({
                    countryId: +countryId
                }),
                success: function (result) {

                    $("#stateddl").html("");
                    $('.chosen-drop ul.chosen-results').append('<li class="active-result"> Please Choose State </li>');
                    $("#stateddl").append($('<option></option>').val(0).html('Please Choose State'));
                    $.each((result), function (i, state) {
                        //alert(state.StateName);
                        //$("#stateddl option:eq(0)").append($('<option></option>').val(state.Stateid).html(state.StateName));
                        //$("#stateddl option:last").before("<option>hi</option>").val(state.Stateid).html(state.StateName);
                        $('.chosen-drop ul.chosen-results').append('<li class="active-result">' + state.Stateid + '</li>');
                        $("#stateddl").append($('<option></option>').val(state.Stateid).html(state.StateName));
                        //$("<option></option>").val(state.Stateid).html(state.StateName).after('#stateddl');
                        //$("#stateddl option:eq(0)").after("<option></option>").val(state.Stateid);
                        //$("#stateddl_chosen a.chosen-single span:eq(0) ").after($('<span></span>').val(state.Stateid).html(state.StateName));
                        //$("#stateddl_chosen div.chosen-drop:eq(0) ").append($('<ul class="chosen-results"></ul>').append($('<li class="active-result" data-option-array-index=' + state.Stateid + '></li>').val(state.Stateid).html(state.StateName)));

                        $('#stateddl').trigger("chosen:updated");
                    })
                },
                error: function (result) {
                    alert("Whooaaa! Something went wrong..")
                },
            });

        });
        $("#stateddl").change(function () {
            var countryId = $("#countryddl").val();
            var stateId = $("#stateddl").val();
            $.ajax
            ({
                url: '/AddClient/GetCityDdl',
                type: 'POST',
                datatype: 'application/json',
                rownumbers: true,
                beforeSend: function () { $("#cityddl").html(""); },
                contentType: 'application/json',
                data: JSON.stringify({
                    countryId: +countryId,
                    stateId: +stateId
                }),
                success: function (result) {
                    $("#cityddl").html("");
                    $('.chosen-drop ul.chosen-results').append('<li class="active-result"> Please Choose City </li>');
                    $("#cityddl").append($('<option></option>').val(0).html('Please Choose City'));
                    $.each((result), function (i, city) {
                        //alert(state.StateName);
                        //$("#stateddl option:eq(0)").append($('<option></option>').val(state.Stateid).html(state.StateName));
                        //$("#stateddl option:last").before("<option>hi</option>").val(state.Stateid).html(state.StateName);
                        $('.chosen-drop ul.chosen-results').append('<li class="active-result">' + city.CityId + '</li>');
                        $("#cityddl").append($('<option></option>').val(city.CityId).html(city.CityName));
                        //$("<option></option>").val(state.Stateid).html(state.StateName).after('#stateddl');
                        //$("#stateddl option:eq(0)").after("<option></option>").val(state.Stateid);
                        //$("#stateddl_chosen a.chosen-single span:eq(0) ").after($('<span></span>').val(state.Stateid).html(state.StateName));
                        //$("#stateddl_chosen div.chosen-drop:eq(0) ").append($('<ul class="chosen-results"></ul>').append($('<li class="active-result" data-option-array-index=' + state.Stateid + '></li>').val(state.Stateid).html(state.StateName)));

                        $('#cityddl').trigger("chosen:updated");
                    })
                },
                error: function (result) {
                    alert("Whooaaa! Something went wrong..")
                },
            });

        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#id-input-file-2').change(function() {
            //var fileName = e.target.files[0].name;
            //alert(e.target.files[0].name);
            //$("#profile").prop("src", e.target.result);
            readURL(this);
        })
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#profile').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    })
</script>