@model LMS_Datas.Voucher

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/Dashboard/css/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/Dashboard/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Dashboard/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/Dashboard/css/ace.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/Dashboard/css/chosen.css" />
<link href="~/Content/Dashboard/css/chosen.css" rel="stylesheet" />
<style type="text/css">
    .chosen-single {
        height: 33px !important;
        text-align: center;
    }
</style>
@using (@Html.BeginForm("Index", "AddVoucher", FormMethod.Post))
{
    if (ViewBag.alert == "Success")
    {
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Data Saved successfully.
        </div>
    }

    if (ViewBag.alert == "Error")
    {
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong>  while submitting your data.
        </div>
    }
<div class="col-sm-12">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-signal"></i>
                Voucher Details
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="row" style="margin-top:3% !important">
                @*<div class="form-control">*@
                <div class="col-md-4"></div>
                    <div class="col-md-4">
                        @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                        @Html.TextBoxFor(m=>m.VoucherName, null, new { @id = "txt_vouchername", @class = "col-md-4", placeholder = "Voucher Name", style = "width:100%" })
                    </div>
                @*</div>*@
            </div>
            <div class="row" style="margin-top:3% !important">
                @*<div class="form-control">*@
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                    <div class="input-daterange input-group">
                        
                        @Html.TextBoxFor(m => m.ValidFrom, null, new { @id = "id-date-picker-1", @class = "form-control date-picker", placeholder = "Valid From", style = "width:100%" })
                        <span class="input-group-addon">
                            <i class="fa fa-exchange"></i>
                        </span>
                        @Html.TextBoxFor(m => m.ValidTo, null, new { @id = "id-date-picker-1", @class = "form-control date-picker", placeholder = "Valid To", style = "width:100%" })
                    </div>
                </div>
                @*</div>*@
            </div>
            <div class="row" style="margin-top:3% !important">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                   @Html.TextAreaFor(m => m.description, new { @id = "txt_VoucherDescription", @class = "autosize-transition form-control", placeholder = "Voucher Description", style = "width:100%;border:1px solid" })
                </div>
            </div>
            <div class="row" style="margin-top:3% !important">
            </div>
            <div class="row" style="margin-top:3% !important" >
                <div class="col-md-4"></div>
                            <div class="col-md-4">
                                @Html.DropDownList("Statusddl", new List<SelectListItem>
{
    new SelectListItem{ Text="Choose Voucher Status", Value = "0" },
    new SelectListItem{ Text="Active", Value = "true" },
    new SelectListItem{ Text="Inactive", Value = "false" },
 }, new { @class = "chosen-select form-control", @id = "statudddl", @name = "Statusddl" })
                            </div>
                    </div>
            <div class="row" style="margin-top:3%">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                            <input type="submit" value="Submit" name="submit_login" class="btn btn-info" onclick='' />
                            &nbsp; &nbsp; &nbsp;
                            <input type="reset" value="Reset" name="reset_login" class="btn btn-info" onclick='' />
                        </div>
            </div>
              </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-signal"></i>
                Data
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <table id="jqGrid_voucher"></table>
            <div id="jqControls_voucher"></div>
        </div><!-- /.widget-body -->
    </div>
</div>

}
<script src="~/Content/Dashboard/js/jquery-1.9.1.min.js"></script>

<script src="~/Content/Dashboard/js/ace-extra.min.js"></script>
<script src="~/Content/Dashboard/js/jquery-ui-1.10.0.js"></script>
<script src="~/Content/Dashboard/js/grid.locale-en.js"></script>
<script src="~/Content/Dashboard/js/jquery.jqGrid.min.js"></script>
<script src="~/Content/Dashboard/js/jquery.maskedinput.min.js"></script>
<script src="~/Content/Dashboard/js/jquery.autosize.min.js"></script>
<script src="~/Content/Dashboard/js/daterangepicker.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        jQuery(function ($) {
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
                        //show datepicker when clicking on the icon
                        .next().on(ace.click_event, function () {
                            $(this).prev().focus();
                        });
        });
        $('#id-input-file-1 , #id-input-file-2').ace_file_input({
            no_file: 'No File ...',
            btn_choose: 'Choose',
            btn_change: 'Change',
            droppable: false,
            onchange: null,
            thumbnail: false //| true | large
            //whitelist:'gif|png|jpg|jpeg'
            //blacklist:'exe|php'
            //onchange:''
            //
        });
        //autosize($('#form-field-tags'));
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.input-daterange').datepicker({ autoclose: true });


        //to translate the daterange picker, please copy the "examples/daterange-fr.js" contents here before initialization
        $('input[name=date-range-picker]').daterangepicker({
            'applyClass': 'btn-sm btn-success',
            'cancelClass': 'btn-sm btn-default',
            locale: {
                applyLabel: 'Apply',
                cancelLabel: 'Cancel',
            }
        })
        $('input[name=date-range-picker]').daterangepicker({
            'applyClass': 'btn-sm btn-success',
            'cancelClass': 'btn-sm btn-default',
            locale: {
                applyLabel: 'Apply',
                cancelLabel: 'Cancel',
            }
        })
        $('.input-mask-phone').mask('(99) 99-9999-9999');
        if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize

            $(window)
            .off('resize.chosen')
            .on('resize.chosen', function () {
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            }).trigger('resize.chosen');
            //resize chosen on sidebar collapse/expand
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            });


            $('#chosen-multiple-style .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
        }
        $('textarea[class*=autosize]').autosize({ append: "\n" });


        $('#id-input-file-1 , #id-input-file-2').ace_file_input({
            no_file: 'No File ...',
            btn_choose: 'Choose',
            btn_change: 'Change',
            droppable: false,
            onchange: null,
            thumbnail: false //| true | large
            //whitelist:'gif|png|jpg|jpeg'
            //blacklist:'exe|php'
            //onchange:''
            //
        });

        $("#link").click(function () {

        })
        $("#jqGrid_voucher").jqGrid({
            url: 'GetVoucher',
            datatype: 'json',
            mtype: 'Get',
            colNames: ['VoucherId', 'VoucherName', 'ValidTo', 'ValidFrom', 'PackageName', 'Description'],
            colModel: [
                { key: true, hidden: true, name: 'VoucherId', index: 'VoucherId', editable: true },
                { key: false, name: 'VoucherName', index: 'VoucherName', editable: true },
                { key: false, name: 'ValidTo', index: 'ValidTo', editable: true },
                { key: false, name: 'ValidFrom', index: 'ValidFrom', editable: true },
                { key: false, name: 'PackageName', index: 'PackageName', editable: true },
                { key: false, name: 'Description', index: 'Description', editable: true },
            ],
            pager: jQuery('#jqControls_voucher'),
            rowNum: 10,
            rowList: [10, 20, 30, 40, 50],
            height: '100%',
            viewrecords: true,
            caption: 'Voucher Records',
            emptyrecords: 'No Voucher Records are Available to Display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            },
            autowidth: true,
            multiselect: false
        }).navGrid('#jqControls_voucher', { edit: true, add: false, del: true, search: false, refresh: true },
            {
                zIndex: 100,
                url: "EditVoucher",
                closeOnEscape: true,
                closeAfterEdit: true,
                recreateForm: true,
                afterComplete: function (response) {
                    if (response.responseText) {
                        alert(response.responseText);
                    }
                }
            }, {},
            {
                zIndex: 100,
                url: "DeleteVoucher",
                closeOnEscape: true,
                closeAfterDelete: true,
                recreateForm: true,
                msg: "Are you sure you want to delete Voucher... ? ",
                afterComplete: function (response) {
                    if (response.responseText) {
                        alert(response.responseText);
                    }
                }
            });
    });
</script>
