@model LMS_Datas.Login
@{
    Layout = null;
}

<!--[if IE 7 ]>  <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>  <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>  <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!-- Meta -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />
    <meta name="format-detection" content="telephone=no">
    <!-- Favicons Icon -->
    <link rel="icon" href="images/favicon.html" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    <!-- Page Title Here -->
    <title>Loyalty Management System</title>
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
            <script src="js/html5shiv.min.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Login/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css-slide.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/scrollbar.html">
    <link class="skin" rel="stylesheet" type="text/html" href="~/Content/Login/skin/skin-1.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/templete.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/switcher.css" />

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Poppins:300,400,500,600,700|Roboto:100,300,400,500,700,900" rel="stylesheet">
    <style type="text/css">
        input[type=text] {
            color: white;
            background-color: rgba(255,255,255,0.3);
            background: #DDE3EC;

        }

      input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
input:-ms-input-placeholder {  
color: white !important;  
}

.tp-login-white.login-form, .tp-login-white .dez-form .form-control
{
    background-color: rgba(255,255,255,0.3);
}
    </style>
</head>

@using (@Html.BeginForm("Index", "Login", FormMethod.Post))
{
    <body id="bg">
        <div class="page-wrapers">
            <!-- Content -->
            <div class="page-content dez-login  overlay-black-light bg-img-fix">
                <ul class="cb-slideshow">
                    @*<img src="@Url.Content("~/Content/Login/images/background/bg10.jpg")" />*@
                    <li><span style="background-image:url(../Content/Login/images/background/bg2.jpg)"></span></li>
                    <li><span style="background-image: url(../Content/Login/images/background/bg3.jpg) "></span></li>
                    <li><span style="background-image: url(../Content/Login/images/background/bg6.jpg) "></span></li>
                    <li><span style="background-image: url(../Content/Login/images/background/bg4.jpg)"></span></li>
                    <li><span style="background-image: url(../Content/Login/images/background/bg1.jpg) "></span></li>
                </ul>
                <div class="relative z-index3">
                    <div class="top-head text-center logo-header">
                        <a href="index.html">
                            <img src="@Url.Content("~/Content/Login/images/logo-white1.png")" />
                        </a>
                    </div>
                    <div class="login-form  tp-login-white text-white">
                        <div class="tab-content">
                            <div id="login" class="tab-pane active text-center">
                            <form class="p-a30 dez-form">
                                    <h3 class="form-title m-t0">Sign In</h3>
                                    <div class="dez-separator-outer m-b5">
                                        <div class="dez-separator bg-primary style-liner"></div>
                                    </div>
                                    <p>Enter your e-mail address and your password. </p>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.UserName, new { @id = "txt_emailid", @class = "form-control", placeholder = "Enter User Name", style = "width:100%;background-color:transparent;color: white;", name = "dzName" })
                                        @*<input name="dzName" required="" class="form-control" placeholder="User Name" type="text" />*@
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Password, new { @id = "txt_password", @class = "form-control", placeholder = "Enter Password", style = "width:100%;background-color:transparent;color:white;", name = "dzName" })
                                    </div>
                                    <div class="row" style="margin-top:3% !important">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-8">
                                            <input type="submit" value="Submit" name="submit_login" class="btn btn-info" onclick='' />
                                            &nbsp; &nbsp; &nbsp;
                                            <input type="reset" value="Reset" name="reset_login" class="btn btn-info" onclick='' />
                                            <div class="form-group pull-right">
                                                <a data-toggle="tab" href="#forgot-password" class="m-l5"><i class="fa fa-unlock-alt"></i> Forgot Password</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                   
                                </form>
                            <div id="forgot-password" class="tab-pane fade ">
                                <form class="p-a30 dez-form text-center">
                                    <h3 class="form-title m-t0">Forget Password ?</h3>
                                    <div class="dez-separator-outer m-b5">
                                        <div class="dez-separator bg-primary style-liner"></div>
                                    </div>
                                    <p>Enter your e-mail address below to reset your password. </p>
                                    <div class="form-group">
                                        <input name="dzName" required="" class="form-control" placeholder="Email Id" type="text" />
                                    </div>
                                    <div class="form-group text-left">
                                        <a class="site-button outline gray" data-toggle="tab" href="#login">Back</a>
                                        <button class="site-button pull-right">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-footer text-center text-white">
                        <p>2017 ©Lactonic Technologies </p>
                    </div>
                </div>
            </div>
            <!-- Content END-->
        </div>
        <!-- JavaScript  files ========================================= -->
        <script type="text/javascript" src="~/Content/Login/js/jquery.min.js"></script>
        <!-- jquery.min js -->
        <script type="text/javascript" src="~/Content/Login/js/bootstrap.min.js"></script>
        <!-- bootstrap.min js -->
        <script type="text/javascript" src="~/Content/Login/js/bootstrap-select.min.js"></script>
        <!-- Form js -->
        <script type="text/javascript" src="~/Content/Login/js/jquery.bootstrap-touchspin.js"></script>
        <!-- Form js -->
        <script type="text/javascript" src="~/Content/Login/js/magnific-popup.js"></script>
        <!-- magnific-popup js -->
        <script type="text/javascript" src="~/Content/Login/js/waypoints-min.js"></script>
        <!-- waypoints js -->
        <script type="text/javascript" src="~/Content/Login/js/counterup.min.js"></script>
        <!-- counterup js -->
        <script type="text/javascript" src="~/Content/Login/js/jquery.countdown.js"></script>
        <!-- jquery countdown -->
        <script type="text/javascript" src="~/Content/Login/js/imagesloaded.js"></script>
        <!-- masonry  -->
        <script type="text/javascript" src="~/Content/Login/js/masonry-3.1.4.js"></script>
        <!-- masonry  -->
        <script type="text/javascript" src="~/Content/Login/js/masonry.filter.js"></script>
        <!-- masonry  -->
        <script type="text/javascript" src="~/Content/Login/js/owl.carousel.js"></script>
        <!-- OWL  Slider  -->
        <script type="text/javascript" src="~/Content/Login/js/custom.min.js"></script>
        <!-- custom fuctions  -->
        <script type="text/javascript" src="~/Content/Login/js/dz.carousel.js"></script>
        <!-- sortcode fuctions  -->
        <!-- switcher fuctions -->
        <script type="text/javascript" src="~/Content/Login/js/switcher.min.js"></script>
            </div>
    </body>
}
</html>
